/AI
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
hospital-phpmysql-plus copy.sql
hospital-phpmysql-plus.sql
hospital-phpmysqp copy.sql
hospital-phpmysqp.sql

hospital-phpmysql-plus - deploy.sql
hospitalapp-deploy.sql

/deploy-backend
/backend - Copy
/web-backup